.App {
  text-align: center;
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Clean sans-serif font */
  color: #1c1c1e; /* Matte black */
  background-color: #D0DDD0; /* Matte light gray for background */
  padding: 20px;
}

header h2 {
  font-size: 36px; /* Bold and prominent */
  font-family:'font-mono';
  font-weight: 700;
  color: #1c1c1e; /* Matte black */
  margin-bottom: 20px;
}

.main {
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #727D73; /* Matte gray background for content */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.608); /* Subtle shadow */
}

.App-link {
  color: #4a4a4a; /* Matte dark gray for links */
  font-weight: 500;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

mark {
  background-color: #d9d9d9; /* Light matte gray for highlights */
  color: #1c1c1e; /* Matte black for text */
  font-weight: bold;
}
